#app2 {
}
#app2 .tab-bar {
  display: flex;
}
#app2 .tab-bar > li {
  width: 50%;
  border: 1px solid black;
}
#app2 .tab-bar > li.selected {
  background: #f9ce57;
  color: white;
}
#app2 .tab-content {
}
#app2 .tab-content > li {
  display: none;
}
#app2 .tab-content > li.active {
  display: block;
}
